/* Instrucciones a toda la estructura */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Sans-Serif;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Sección Header */
img {
	height: 700px;
	width: 100%;
}

/* Sección cabezara */
.headboard {
	height: 47px;
	width: 100%;
	background: #fff;
	margin-top: -705px;
	margin-left: 0;
	position: relative;
}

.menu ul {
	margin-left: 85px;
}

.menu ul li {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
}

.menu ul li button {
	color: #66757F;
	width: 120px;
	height: 30px;
}

.menu button {
	background-color: #fff;
	border: none;
}

.menu button:hover {
 	box-shadow: 0 0 0 3px #1DA1F2;
 	border-radius: 5px;
}

.icon-social-twitter-circular:before {
  	content: "\e932";
}

/* Sección bienvenida */
.welcome {
	height: 222px;
	width: 500px;
	color: #fff;
	margin-top: 80px;
	margin-left: 150px;
	display: inline-block;
}

.welcome h1 {
	font-size: 30px;
	line-height: 50px;
}

.welcome p {
	font-size: 17px;
	font-weight: 10px;
	line-height: 25px;
}

/* Seccion Formulario */

.form {
	text-align: center;
	height: 190px;
	width: 400px;
	background: #fff;
	margin-top: -920px;
	margin-left: 650px;
	display: inline-block;
}

.txt {
	height: 150px;
	width: 300px;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom: 3px solid #006DBF;
	padding: 7px;
	resize: none;
	overflow: auto;

}

#btn {
	color: #fff;
	background: #1DA1F2;
	border: 5px;
	height: 30px;
	width: 60px;
	margin-top: 0;
	margin-left: 230px;
	display: inline block;

}

#indicator {
	color: #1DA1F2;
	margin-top: -30px;
	margin-right: 325px;
	padding-left: 10px;
	float: right;
}

.comentario div {
	height: auto;
	width: 900px;
	background: #fff;
	margin-top: 10px;
	margin-left: 150px;
	border-radius: 5px;
	display: inline-block;
}

.comentario div p {
	word-break: break-word;
	padding: 5px;
}

#green {
	color: green;
}


#red {
	color: red;
}